.todo-item {
  /* Setting horizontal margins to 0 overwrites BS margins (-15px) on .row;*/
  margin-top: 15px;
  margin-bottom: 15px;
  animation: fadeIn 0.2s linear normal forwards;
}

#inputField {
  margin: 5px 0 10px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

